* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(to bottom, #00c6ff, #0072ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 800px;
  color: white;
}

.current-weather  {
  flex: 1;
  background-color: rgb(50, 153, 255);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* .current-weather {
  text-align: center;
  width: 100%;
} */

.current-weather h1 {
  margin: 10px 0;
}

.current-weather .temp-icon .temp-title {
  font-size: 3rem;
  margin: 10px 0;
}

.current-weather .temp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.current-weather .temp-icon img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.current-weather .temp-icon #toggle-units {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0072ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.current-weather .temp-icon #toggle-units:hover {
  background-color: #005bb5;
}

.current-weather .todays-info {
  margin: 10px 0;
}

.current-weather .side-info ul {
  list-style: none;
  padding: 0;
}

.current-weather .side-info li {
  margin: 10px 0;
}

.right-panel {
  background-color: rgba(78, 86, 101, 0.6);
  border-radius: 0 10px 10px 0;
  padding: 20px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.right-panel .input-panel {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5px;
}

.right-panel .input-panel #city-name {
  width: 70%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

.right-panel .input-panel #search-button {
  width: 30%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #0072ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.right-panel .input-panel #search-button:hover {
  background-color: #005bb5;
}

.right-panel .week-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.right-panel .week-forecast .forecast-day {
  text-align: center;
  margin: 0 5px;
}

.week-forecast .forecast-day img {
  width: 42px;
  height: 42px;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    width: unset;
  }

  .weather-info {
    padding: 0;
    border-radius: 10px 10px 0 0;
  }

  .right-panel {
    border-radius: 0 0 10px 10px;
    margin: 0;
  }  
}